@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  margin: auto;
  overflow-x: hidden;
  background: var(--black);
  color: var(--white);
}

body {
  margin: auto;
  position: relative;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

span {
  font-size: 16px;
  font-weight: 500;
}

.small {
  display: flex;
  font-size: 20px;
}

/* font line height */

.tight {
  line-height: 92%;
}

.snug {
  line-height: 147%;
}

/* font weight */

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

section {
  max-width: 1290px;
  margin: auto;
  width: 100%;
}

.mobile-nav {
  height: calc(100vh - 50px);
  display: grid;
  place-items: flex-start;
  width: 100% !important;
}

.slide {
  display: flex;
  padding: 12px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;
  background: var(
    --gradient,
    url(../assets/png/Banner.png),
    lightgray 50% / cover no-repeat
  );
}

.aboutus-bg-image:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/png/aboutusBgImg.png');
}

.aboutus-bg-image:hover img {
  display: none;
}

.slide-text {
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  gap: 53px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.accordion {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 300px;
}
.accordion__open {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;
  background: var(
    --gradient,
    url(../assets/png/Banner.png),
    lightgray 50% / cover no-repeat
  );
}

.accordion a {
  color: var(--textPrimary);
}
.accordionTitle {
  cursor: pointer;
}
.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1380px;
  width: 100%;
  margin: auto;
}

.accordionDescription {
  display: flex;
  align-items: center;
  max-width: 1380px;
  width: 100%;
  margin: 12px auto 0px auto;
  opacity: 0.69;
}

.accordionItem:last-child {
  border-bottom: none;
}

@media (max-width: 820px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 16px;
  }
  section {
    padding: 0 12px;
  }
  .accordion {
    padding: 0px 12px;
    margin-bottom: 100px;
  }
  .accordion__open {
    background: none;
  }
}

section {
  max-width: 1290px;
  margin: auto;
}
